@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'Open Sans';
     src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face{
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
}

.map-container {
  height: 100%;
  width: 100%;
}