:root {
    --mainColor: #0025aa;
    --bgColor: #fff;
    --borderColor: hsla(0, 0%, 54.9%, 0.2);
    --borderInput: #e5e5e5;
    --bgLight: #fafafb;
    --textMain: #6a6e74;
    --textLight: #92929f;
    --textDark: #393d45;
    --defaultShadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --modalBackdrop: hsla(0, 0%, 100%, 0.5);
    --highlightColor: var(--bgLight);
  }
  
  body {
    margin: 0;
    line-height: 1.2;
    color: var(--textMain);
    background: var(--bgColor);
  }
  
  button {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.02em;
    background-color: transparent;
    color: var(--mainColor);
    font-size: 0.875rem;
    padding: 0.6em 1em;
    transition:
        background-color 0.1s,
        color 0.1s,
        padding 0.2s,
        opacity 0.2s;
    cursor: pointer;
    line-height: 1;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:focus {
    opacity: 0.85;
  }
  
  button.waiting {
    padding-right: 28px;
    position: relative;
  }
  
  button.waiting:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border-right: 2px solid var(--bgColor);
    border: 2px solid var(--bgColor);
    border-right-color: var(--mainColor);
    right: 0.6em;
    top: 0.6em;
    width: 0.7em;
    height: 0.7em;
    -webkit-animation: rotate 0.5s linear infinite;
    animation: rotate 0.5s linear infinite;
  }
  
  button.left {
    margin-left: 0;
  }
  
  button.center {
    margin: auto;
  }
  
  .map-container {
    height: 100%;
    width: 100%;
  }
  
  .container {
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .container {
        max-width: 1280px;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
  }
  
  .pointer-events-none {
    pointer-events: none;
  }
  
  .pointer-events-auto {
    pointer-events: auto;
  }
  
  .visible {
    visibility: visible;
  }
  
  .invisible {
    visibility: hidden;
  }
  
  .collapse {
    visibility: collapse;
  }
  
  /* AUTH PAGES */
  
  .auth-nav {
    border-bottom: 1px solid var(--borderColor);
    font-size: 1em;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }
  .auth-nav .auth-nav-item {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: all 0.2s;
    padding: 0.8em 0.8em 0.3em;
  }
  .auth-nav .auth-nav-item:focus {
    color: var(--mainColor);
  }
  .auth-nav .auth-nav-item.link-active {
    color: var(--mainColor);
    border-color: var(--mainColor);
  }
  .auth-form.margin-top {
    margin-top: 5em;
  }
  .auth-view {
    display: flex;
    height: 100vh;
    overflow-x: hidden;
  }
  .auth-view .auth-bg {
    --overlay: linear-gradient(
        185deg,
        rgba(var(--mainRGB), 0.7) 15%,
        rgba(var(--mainRGB), 0) 85%
    );
    background-size: cover;
    flex-grow: 1;
    padding: 4rem;
  }
  .auth-view .auth-bg.default {
    position: relative;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .auth-view .auth-bg.default.text-grandient:before {
    content: '';
    background: linear-gradient(
        0deg,
        #181818 12.29%,
        rgba(25, 25, 25, 0.2) 32.01%,
        rgba(25, 25, 25, 0) 99.98%
    );
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  .auth-view .auth-form {
    max-width: 490px;
    width: 100%;
    padding: 3.5rem 4rem 2rem;
    overflow: auto;
  }
  .auth-view .app-title {
    position: relative;
    color: #fff;
    font-size: 8vw;
    font-weight: 600;
    max-width: 900px;
    margin-bottom: 0;
    margin-top: 0.5em;
    z-index: 1;
  }
  .auth-view .auth-form-title {
    font-size: 2rem;
    margin-bottom: 0.5em;
    color: var(--mainColor);
  }
  .auth-view .auth-form-subtitle {
    color: var(--mainColor);
    margin-bottom: 2em;
  }
  @media screen and (min-width: 1950px ) {
    .auth-view .auth-bg.default .app-title {
        font-size: 7em;
        max-width: 45vw;
    }
  }
  
  @media screen and (min-width: 1490px ) {
    .auth-view .auth-bg.default .app-title {
        font-size: 6.5em;
        max-width: 45vw;
    }
  } 
  
  @media screen and (max-width: 1340px) {
    .auth-view .auth-form {
        padding: 4rem;
    }
    .auth-view .auth-nav {
        margin-bottom: 1em;
    }
  }
  @media screen and (max-width: 1000px) {
    .auth-view {
        display: block;
    }
    .auth-view .auth-bg {
        background-image: none !important;
        padding: 2rem;
    }
    .auth-view .auth-bg:before {
        content: inherit;
    }
    .auth-view .auth-bg .app-logo {
        justify-content: center;
        height: auto;
        margin: 0;
    }
    .auth-view .auth-bg .app-title {
        display: none;
        font-size: 6vw;
    }
    .auth-view .auth-form {
        margin: auto;
        padding: 0 2rem 2rem;
    }
    .auth-view .auth-form .auth-form-title {
        font-size: 1.5em;
    }
    .auth-view .auth-form .short-auth-form {
        padding-top: 0;
    }
    .auth-view .auth-form .short-auth-form .auth-form-subtitle {
        font-size: 0.7rem;
    }
  }
  @media screen and (max-height: 700px) and (min-width: 1800px) {
    .auth-view .auth-bg.default .app-title {
        font-size: 6em;
    }
  }
  @media screen and (max-width: 1000px) {
    .auth-view .auth-bg.default.text-grandient:before {
        display: none;
    }
  }
  
  .about-btn {
    position: relative;
    margin-top: 1em;
    z-index: 2;
  }
  .about-btn a {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.02em;
    -webkit-appearance: none;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.25rem;
    padding: 0.2em 1em;
    transition:
        background-color 0.1s,
        color 0.1s,
        padding 0.2s,
        opacity 0.2s;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
  }
  .about-btn :hover {
    opacity: 0.7;
    border-color: #fff;
  }
  .auth-description {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 3em;
    z-index: 1;
    transition: all 0.2s;
  }
  .auth-description div {
    flex: 1 1 0px;
    padding-left: 4em;
    padding-right: 4em;
    border-left: 1px solid #fff;
  }
  .auth-description div:first-child {
    border: 0;
  }
  .auth-description div h2 {
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.2em;
  }
  .auth-description div h2:before {
    content: '//';
    padding-right: 0.3em;
  }
  .auth-description div p {
    color: #fff;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: justify;
  }
  .auth-description div .link {
    color: #fff;
  }
  @media screen and (max-width: 1340px) {
    .about-btn,
    .auth-description {
        display: none;
    }
  }
  @media screen and (max-width: 1400px) and (max-height: 1000px) {
    .auth-description {
        display: none;
    }
  }
  @media screen and (max-height: 800px) {
    .auth-description {
        display: none;
    }
  }
  
  .form-field {
    display: block;
    position: relative;
    color: var(--textLight);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .form-field:focus-within input,
  .form-field:focus-within select,
  .form-field:focus-within textarea {
    border-color: var(--mainColor);
  }
  
  .form-field:focus-within > label {
    color: var(--mainColor);
  }
  
  .form-field > label {
    position: absolute;
    font-size: 0.825rem;
    margin-top: -4px;
    margin-left: 0.5rem;
    background: linear-gradient(var(--bgColor) 8px, transparent 0, transparent);
    display: inline-block;
    padding: 0 0.3rem;
    z-index: 1;
    line-height: 1em;
    white-space: nowrap;
  }
  
  .form-field.inline-field {
    display: flex;
    align-items: flex-end;
  }
  
  .form-field.inline-field.block {
    display: block;
  }
  
  .form-field.inline-field input {
    min-width: 16px;
  }
  
  .form-field.inline-field label {
    white-space: normal;
  }
  
  .form-field .vue-input-tag-wrapper {
    border: 1px solid var(--borderInput);
    border-radius: 4px;
    color: inherit;
    background: var(--bgColor);
    font-size: 0.85rem;
    padding: 0.9em 0.5em 0.5em;
    height: 45px;
  }
  
  .form-field .vue-input-tag-wrapper input.new-tag {
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
  }
  
  .form-field .vue-input-tag-wrapper .input-tag {
    color: var(--bgColor);
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0.2em;
  }
  
  .form-field .vue-input-tag-wrapper .input-tag .remove {
    color: var(--bgColor);
  }
  
  .form-field .vue-input-tag-wrapper--active {
    border-color: var(--mainColor);
  }
  
  .link {
    color: var(--mainColor);
    text-decoration: underline;
    font-size: 0.825rem;
  }
  
  .link:focus,
  .link:hover {
    opacity: 0.85;
  }
  
  .link-decoration-underline a {
    text-decoration: underline;
  }
  
  .router-links {
    display: flex;
    justify-content: space-between;
  }
  .link-divider {
    font-size: 0.825rem;
    margin-left: 0.2em;
  }
  .short-auth-form {
    display: flex;
    flex-direction: column;
    height: calc(100% - 8em);
    justify-content: space-between;
    padding-top: 1rem !important
  }
  .short-auth-form.has-lang-select {
    height: calc(100% - 12em);
  }
  .center-link {
    text-align: center;
    display: block;
  }
  
  form > button {
    margin-left: auto;
    margin-right: 0;
    display: block;
  }
  
  html[data-dark-mode='true'] {
    --mainColor: #eee;
    --bgColor: #202124;
    --borderInput: #474747;
    --textDark: #eee;
    --textMain: #aaa;
    --modalBackdrop: rgba(0, 0, 0, 0.5);
    --bgLight: #313336;
    --highlightColor: var(--bgLight);
  }
  
  html[data-dark-mode='true'] ::-webkit-scrollbar-track {
    background: var(--bgLight);
  }
  
  html[data-dark-mode='true'] ::-webkit-scrollbar-thumb {
    background: var(--borderInput);
  }
  
  html[data-dark-mode='true'] ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  html[data-dark-mode='true'] .field-group.toggle-group input:checked + label,
  html[data-dark-mode='true'] button:hover {
    color: var(--bgColor);
  }
  
  html[data-dark-mode='true'] .append button:hover {
    color: var(--textMain);
  }
  
  html[data-dark-mode='true'] .social-block img.social-icon,
  html[data-dark-mode='true'] .social-login .social-icon img {
    filter: brightness(0) invert(1);
  }
  
  html[data-dark-mode='true'] .app-logo .logo {
    filter: grayscale(1) brightness(0) invert(1);
  }
  
  /*# sourceMappingURL=styles.css.map*/
  
  .breadcrumb {
    font-size: 0.825em;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 0.5em;
  }
  
  .table-wrapper {
    position: relative;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table tbody tr:hover {
    background: var(--bgLight);
  }
  
  table thead {
    border-bottom: 1px solid var(--borderInput);
  }
  
  table tr {
    border-bottom: 1px solid var(--borderColor);
  }
  
  table td,
  table th {
    padding: 0.5rem;
  }
  
  table th {
    color: var(--textDark);
    font-family: Oswald, sans-serif;
    font-weight: inherit;
    text-align: left;
    /* font-size: .875rem; */
    text-transform: uppercase;
  }
  
  table td,
  table th {
    white-space: nowrap;
  }
  
  table td {
    /* font-size: .8125rem; */
    color: var(--textLight);
    max-width: 275px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38px;
  }
  
  table td input:not([type='checkbox']):not([type='radio']),
  table td select {
    font-size: 12px;
    padding: 0.3em;
  }
  
  table td a {
    transition: all 0.2s;
  }
  
  table td a:hover {
    color: var(--mainColor);
  }
  
  table td[data-name='redirect'],
  table td {
    line-height: 1.5;
  }
  
  table td[data-name='redirect'] a,
  table td a {
    vertical-align: -3px;
  }
  
  table td.row-actions a {
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
  
  table td .app-logo {
    vertical-align: middle;
    border: 1px solid var(--borderInput);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  table td .secret-key {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: -2px;
  }
  
  table td .secret-key.blur {
    -moz-filter: blur(1.75px);
    -o-filter: blur(1.75px);
    -ms-filter: blur(1.75px);
    filter: blur(1.75px);
  }
  
  .action-bar {
    font-size: var(--text-sm);
    transition: 0.2s all;
    position: relative;
    z-index: 3;
  }
  
  .action-icon {
    color: var(--text-main);
    cursor: pointer;
    max-height: 1rem;
    vertical-align: -1px;
  }
  
  .action-icon svg {
    max-height: 1rem;
  }
  
  .action-icon:hover path {
    stroke: var(--mainColor);
  }
  
  .search-filter {
    width: 10rem;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .search-box:focus-within {
    border-color: var(--primary-color);
  }
  
  .search-box select {
    padding-right: 1.5rem;
    font-size: var(--text-sm);
    position: absolute;
    right: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .filter-type.dropdown-item {
    text-transform: capitalize;
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }
  
  .filter-type.dropdown-item .filter-title {
    flex-grow: 1;
  }
  
  .filter-type.dropdown-item:has(.action-icon.close) {
    background-color: var(--highlight);
  }
  
  .dropdown-item {
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dropdown-item:not(:last-of-type) {
    border-bottom: 1px solid var(--mainColor);
  }
  
  .dropdown-item:hover,
  .dropdown-item:focus-visible {
    color: var(--primary-color);
    background-color: var(--highlight);
    outline: none;
  }
  
  .search-group {
    padding: 0;
    border-bottom: 0px solid var(--mainColor);
  }
  
  .search-group.is-open {
    border-bottom-width: 3px;
  }
  
  .search-group.is-open .accordion-title {
    color: var(--primary-color);
  }
  
  .search-group .accordion-title {
    border-bottom: 1px solid var(--mainColor);
  }
  
  .current-selection {
    padding: 0.1rem 1rem 0.1rem 0.4rem;
    border-left: 1px solid var(--border-input);
    font-size: var(--text-sm);
    /* background-image: url(/assets-static/img/select_dropdown.svg); */
    background-repeat: no-repeat;
    background-position: bottom 0.45rem right;
    min-width: 41px;
  }
  
  input[type].search-input,
  select {
    width: 100%;
    height: auto;
    padding-top: 0;
    padding: 0.35rem;
    vertical-align: 2px;
    border: 0;
  }
  
  input[type].search-input:focus,
  select:focus {
    outline: none;
  }
  
  input[type].search-input {
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: left 0.35rem center;
    padding-left: 2.3rem;
    z-index: 1;
    min-width: 0px;
    flex-shrink: 100;
    width: 100%;
    padding-right: 2rem;
  }
  
  .search-icon {
    position: absolute;
    margin: 0.5rem 0.5rem 0.5rem 0.7rem;
  }
  
  .clear-btn {
    z-index: 1;
    width: var(--text-lg);
    text-align: center;
    height: var(--text-lg);
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s;
    cursor: pointer;
    line-height: 1.2;
    position: absolute;
    right: 0.5rem;
  }
  
  .clear-btn:hover {
    background: var(--border-input);
  }
  
  .active-items {
    margin-left: 0.4rem;
    max-width: calc(100% - 20rem);
    padding-right: 2rem;
    border-right: 1px solid var(--border-color);
    position: relative;
    display: flex;
    min-width: 3.5rem;
  }
  
  .active-items .clear-btn {
    top: 0.15rem;
    right: 0.4rem;
  }
  
  .active-items .show-all-icon {
    flex: none;
    margin-top: 0.3rem;
    margin-right: 0.6rem;
    margin-left: 0.2rem;
  }
  
  button.action-icon,
  .radio-button-group label.action-icon,
  .toggle-group .action-icon.toggle-item,
  .field-group.toggle-group label.action-icon {
    padding: 0;
    border: 0;
    -webkit-appearance: none;
    background-color: transparent;
    color: inherit;
  }
  
  .page-content .action-bar {
    flex-direction: column;
    align-items: baseline;
  }
  
  .page-content .action-bar .main-area,
  .page-content .action-bar .actions {
    width: 100%;
  }
  
  .page-content .action-bar .main-area {
    flex-direction: column-reverse;
    height: auto;
  }
  
  .page-content .action-bar .main-area .search-filter {
    width: 100%;
  }
  
  .page-content .action-bar .main-area .search-filter .recent-action {
    padding: 0.5rem;
    line-height: 0.8;
  }
  
  .page-content .action-bar .main-area .selection-actions {
    max-width: none;
    width: 100%;
    order: 1;
    margin-bottom: 0;
  }
  
  .page-content .action-bar .actions {
    justify-content: right;
  }
  
  .page-content .action-bar .counter {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: initial;
  }
  
  .page-content .action-bar .counter .selection-counter {
    position: initial;
  }


@keyframes shimmer {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes move-line {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.animate-move-line {
  animation: move-line 8s linear infinite;
}

.delay-1000  {
  animation-delay: 1s;
}

.delay-2000 {
  animation-delay: 2s;
}